<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

        <!-- Header section -->

        <div class="dflex">

            <a id="header-item" href="{% url 'blog:index' %}"> Home </a>
            <a id="header-item" href="{% url 'blog:category' %}"> Category </a>
            <a id="header-item" href="{% url 'blog:contact' %}"> Contact Us </a>
            <a id="header-item" href="{% url 'blog:about' %}"> About Us </a>
        </div>
    
        <!-- End Header -->

    {% block content %}
    {% endblock content%}

        <!-- Footer -->


        <div class="dflex" id="footer">
            <p> Copyright 2020 <a href="https://github.com/hojjat-faryabi"> hojjat faryabi</a> </p>
        </div>
    
    
        <!-- End Footer -->
</body>
</html>