{% extends "base.html" %}
{% block title %} Contact Me {% endblock title %}

{% block content %}
<!-- Content -->

<div id="contact-content" class="dflex">

    <form action="" method="POST">
        {% csrf_token %}

        <span>send a message to me!</span>
        <br />
        <br />
        {{ form.as_p }}
        <br />
        <br />
        <input type="submit" />

    </form>

</div>

{% if show_message != "" %}

    <script>
        message = "{{ show_message }}"
        alert(message)
    </script>

{% endif %}

<!-- End Content -->
{% endblock content %}