{% extends "base.html" %}
{% block title %} Contact Me {% endblock title %}

{% block content %}
<!-- Content -->

<div id="contact-content" class="dflex">

    <form action="" method="POST">


        <span>send an email to me!</span>
        <br />
        <br />
        <br />

        <input type="text" placeholder="name" name="name" />
        <br />
        <br />
        <textarea rows="8" cols="80" placeholder="message" name="message"></textarea>

        <br />
        <br />
        <br />
        <input type="submit" />

    </form>

</div>

<!-- End Content -->
{% endblock content %}