<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!-- Header section -->

    <div class="dflex">

        <a id="header-item" href="index.html"> Home </a>
        <a id="header-item" href="category.html"> Category </a>
        <a id="header-item" href="contact.html"> Contact Us </a>
        <a id="header-item" href="about.html"> About Us </a>
    </div>

    <!-- End Header -->

    <!-- Content -->

    <div id="content">


        <div id="content-cell">

            <h3> Poste 1 </h3>
            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. </span>
            <br />
            <br />
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <span> category : category 1</span>
                <a class="read-more" href="singlePost.html"> read more</a>
            </div>

        </div>




        <div id="content-cell">

            <h3> Poste 1 </h3>
            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. </span>
            <br />
            <br />
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <span> category : category 1</span>
                <a class="read-more" href="singlePost.html"> read more</a>
            </div>

        </div>





        <div id="content-cell">

            <h3> Poste 1 </h3>
            <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. </span>
            <br />
            <br />
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <span> category : category 1</span>
                <a class="read-more" href="singlePost.html"> read more</a>
            </div>

        </div>


        <div class="page-ination">
            <a href="#" class="page-ination-item"> 1 </a>
            <a href="#" class="page-ination-item"> 2 </a>
            <a href="#" class="page-ination-item"> 3 </a>
        </div>

    </div>

    <!-- End Content -->

    <!-- Footer -->


    <div class="dflex" id="footer">
        <p> Copyright 2020 <a href="https://github.com/hojjat-faryabi"> hojjat faryabi</a> </p>
    </div>


    <!-- End Footer -->
</body>

</html>