<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!-- Header section -->

    <div class="dflex">

        <a id="header-item" href="index.html"> Home </a>
        <a id="header-item" href="category.html"> Category </a>
        <a id="header-item" href="contact.html"> Contact Us </a>
        <a id="header-item" href="about.html"> About Us </a>
    </div>

    <!-- End Header -->

    <!-- Content -->

    <div id="content">

        {% for article in articles %}
        <div id="content-cell">

            <h3> {{ article.title }} </h3>
            <span> {{ article.description }} </span>
            <br />
            <br />
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <span> category : {{ article.category }} </span>
                <a class="read-more" href="singlePost.html"> read more</a>
            </div>

        </div>
        {% endfor %}


        <div class="page-ination">
            <a href="#" class="page-ination-item"> 1 </a>
            <a href="#" class="page-ination-item"> 2 </a>
            <a href="#" class="page-ination-item"> 3 </a>
        </div>

    </div>

    <!-- End Content -->

    <!-- Footer -->


    <div class="dflex" id="footer">
        <p> Copyright 2020 <a href="https://github.com/hojjat-faryabi"> hojjat faryabi</a> </p>
    </div>


    <!-- End Footer -->
</body>

</html>